body{
    margin: 0;
}

section{
    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
    padding: 5%;
}
.half img{
    width: 80%;
}
.hire{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
   padding: 10px 40px;
   border-radius: 5px;
   color: white;
   font-weight: 700;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}
.middle-banner{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
