
body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(1122.jpg);
    background-repeat: no-repeat;
}
.welcome{
    text-align: center;
    font-size: 60px;
    text-shadow: 5px 5px 10px black;
}
.text-color{
    color: #E74C3C;
}
h1{
    font-size: 45px;
}
p{
    font-size: 25px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: justify;
}

section{
    display: flex;
    margin-bottom: 100px;
    
}
.half{
    width: 70%;
    padding: 10%;
}
.half img{
    width: 80%;
}
.hire{
    text-decoration: none;
    background-image: linear-gradient(rgb(214, 16, 66),rgb(190, 71, 50));
   padding: 12px 40px;
   border-radius: 8px;
   color: rgb(255, 255, 255);
   font-weight: 700;
}

.middle-banner{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadow{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 20px;
    border-radius: 10PX;
    box-shadow: 30px 30px 40px gray;
}
#exp-1{
    border-left: 7px solid;
    border-radius: 10px;
    border-image: linear-gradient(rgb(3, 92, 84), rgb(226, 53, 23));
    border-image-slice: 1;
}
#exp-2{
    border-left: 7px solid;
    border-radius: 10px;
    border-image: linear-gradient(rgb(126, 29, 0), rgb(81, 4, 133));
    border-image-slice: 1;
}
.bottom-banner{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
}
.footer{
    text-align: center;
}